  img{
    display: inline-flex;
  }
  .border{
    border: 1px solid;
  }
  .banner{
    display: block!important;
    font-size: 0px;
      border: 0;
  padding: 0;
  margin: 0;
  }
  .hooter p{
  text-align: center;
}

body{
  background-color: #DBD8C0!important;
}
.w{
  background-color: #EDEBE0;
}

h2, h3, h4 { 
border-bottom: 1px solid;

 }